<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
        body {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 50vh;
          margin-left: 400px;
        }
        .my-pantry-button {
            margin-bottom: 5px;
            margin-top: -55px;
            margin-right: 100px;
        }
        .pantry-button-container {
            text-align: center; 
        }
        .pantry-button-container .my-pantry-button {
            display: inline-block;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Create a Pantry</h2>
        <div class="row">
            <div class="col s12 m6">
                <form action="/createAccount" method="post">
                    <div class="input-field">
                        <input type="text" id="username" name="username" required placeholder="Username">
                    </div>
                    <div class="input-field">
                        <input type="password" id="password" name="password" required placeholder="Password">
                        
                    </div>
                    <div class="input-field">
                        <input type="password" id="confirm_password" name="confirm_password" required placeholder="Password">
                    </div>  
                    <button class="btn waves-effect waves-light" type="submit">Login</button>
                </form>
                </div>
            </div>
        </div>
    </div>
    <script src="groceries/materialize.js">
        document.addEventListener("DOMContentLoaded", function() {
            const form = document.querySelector("form");
            form.addEventListener("submit", function(event) {
                const password = document.getElementById("password").value;
                const confirmPassword = document.getElementById("confirm_password").value;

                if(password !== confirmPassword) {
                    alert("Password do not match. Please try again.");
                    event.preventDefault();
                }
            });
        });
    </script>
</body>
</html>
