<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Your List</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
        body {
            background-color: #f5f5f5;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            margin-bottom: 30px;
            color: #333;
        }

        .btn {
            background-color: #26a69a;
        }

        .btn:hover {
            background-color: #2bbbad;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Your List</h1>
        <div class="row">
            <form class="col s12" id="recipeForm" action="/sortedList" method="post">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="recipeInput" class="materialize-textarea" name="recipe"></textarea>
                        <label for="recipeInput">Recipe</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button class="btn waves-effect waves-light" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <script src="groceries/materialize.js"></script>
</body>
</html>
