<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Recipe List</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
        body {
            background-color: #f5f5f5;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            margin-bottom: 30px;
            color: #333;
            font-size: 36px;
        }

        .btn {
            background-color: #26a69a;
        }

        .btn:hover {
            background-color: #2bbbad;
        }

        .or-text {
            text-align: center;
            
        }
        .custom-textarea {
            height: auto;
            max-height: 150px;
            min-height: 80px;
            padding: 10px;
            resize: none;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            overflow-y: auto;
        }
    </style>
    <script>
        function handleRecipeInput() {
            var recipeInput = document.getElementById("recipeInput");
            var recipeLabel = document.getElementById("recipeLabel");
            var recipeLines = recipeInput.value.split('\n');
            var linesCount = recipeLines.length;

            if (recipeInput.value.length > 0) {
                recipeLabel.style.display = "none";
            } else {
                recipeLabel.style.display = "block";
            }

            recipeInput.style.height = "auto";
            recipeInput.style.height = (linesCount * 1.5) + "em";
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>Recipe List</h1>
        <div class="row">
            <form class="col s12" id="recipeForm" action="/sortedList" method="post">
                <div class="row">
                    <div class="input-field col s7">
                        <textarea id="recipeInput" class="materialize-textarea" name="recipe" oninput="handleRecipeInput()"></textarea>
                        <label id="recipeLabel" for="recipeInput">Paste your recipe here to get it sorted 😊</label>
                    </div>
                    <div class="input-field col s3" style="display: flex; align-items: flex-end;">
                        <button class="btn waves-effect waves-light" type="submit">Sort</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="or-text">
            <p>or get to</p>
        </div>
        <div class="row">
            <div class="col s12" style="text-align: center;">
                <form action="/MyPantry" method="get">
                    <div>
                        <button class="btn waves-effect waves-light">MyPantry</button>
                    </div>
            </div>
        </div>
    </div>
    
    <script src="groceries/materialize.js"></script>
</body>
</html>
