<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Virtual Pantry</title>
  <!-- Material-UI CSS -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <style>
    /* Add your custom CSS here */
    body {
      font-family: 'Roboto', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f0f0f0;
    }

    header {
      background-color: #2196F3;
      padding: 10px;
      color: #ffffff;
      text-align: center;
    }

    h1 {
      margin: 0;
    }

    .container {
      padding: 20px;
    }

    .btn-container {
      display: flex;
      justify-content: center;
      gap: 10px;
    }

    .btn {
      text-decoration: none;
      display: inline-block;
      padding: 12px 20px;
      background-color: #2196F3;
      color: #ffffff;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
    }

    .btn:hover {
      background-color: #1976D2;
    }

    .btn-logout {
      background-color: #FF5252;
    }

    .btn-logout:hover {
      background-color: #E53935;
    }
    #name {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
} 
  </style>
</head>

<body>
  <!-- Navbar -->
  <header>
    <nav>
      <div>
        <h1>Virtual Pantry</h1>
      </div>
      <ul>
        <li>
          <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit" class="btn btn-logout">Logout</button>
          </form>
        </li>
      </ul>
    </nav>
  </header>
  <div class="container" id="name">
    <h3>Welcome, <%= user.name %>!</h3>
  </div>
  <div class="container btn-container">
    <form action="/pantryInventory" method="get">
      <button type="submit" class="btn">What's in my Pantry</button>
    </form>
    <form action="/sortRecipe" method="get">
      <button type="submit" class="btn">Sort a New Recipe</button>
    </form>
  </div>

  <!-- Material-UI JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.14.0/umd/react.production.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.14.0/umd/react-dom.production.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/@material-ui/core/4.11.4/umd/material-ui.production.min.js"></script>
</body>

</html>
